{{outlet}}
<div class="navbar">
      <div id="logo"><a href="index.html"><h1>Voyager</h1></a></div>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="index.html">Home</a></li>
    </div>
    <img id="stars" src="img/stars.png" height="900" width=100% alt="Stars" />
    <div class="container stars">

      <div class="milkyway">
        <div class="ring">
          <div class="jupiter"></div>
          <div class="saturnRing"><div id="saturn"></div></div>
          <div class="ring2">
            <div class="ring3">
              <div class="earth"></div>
              <div class="sunT"></div>
              <div id="core"></div>
              <div class="sunB"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
